@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Spectral:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap");
:root {
  --Roboto: "Roboto", sans-serif;
  --Spectral: "Spectral", serif;
  --Poppins: "Poppins", sans-serif;
  --RedHatDisplay: "Red Hat Display", sans-serif;

  --blue: #1e66ff;
  --sky: #4dc3f7;
  --white: #fff;
  --gray: #5f5f5f;
  --black: #000002;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* default css */
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* common css */
.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.carousel_btn {
  border: none;
  outline: none;
  background: #001439;
  border-radius: 50%;
  color: var(--white);
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.5rem;
  transition: all 0.2s ease-in-out;
}

.carousel_btn:hover {
  background: #f4f4f4;
  color: var(--black);
}
@media screen and (max-width: 1200px) {
  .container {
    margin: 0 15px;
  }
}
