.trending_product_container {
  width: 100%;
}
.trending_product_wrap {
  width: 100%;
  position: relative;
}
.trending_product_title {
  font-family: Spectral;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  color: var(--black);
}
.trending_product_text {
  max-width: 418px;
  margin: 30px auto;
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #000002;
  opacity: 0.7;
}

.trending_product_category {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.trending_product_category > div {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.01em;

  color: #000002;
  cursor: pointer;
}
.trending_product_category > div:hover {
  border-bottom: 2px solid var(--black);
}
.controller {
  position: absolute;
  right: 0px;
  display: flex;

  gap: 16px;
}

/* trending_product_slider */

.trending_product_slider {
  position: relative;
  overflow: hidden;
  padding: 26px;
}
.trending_product_slide {
  padding: 0 10px;
  display: flex;
  overflow-x: hidden;
  gap: 20px;
  scroll-behavior: smooth;
}
