.item_wrap {
  background: #ffffff;
  border: 1px solid #f3f3f3;
  /* card shadow */
  box-shadow: 0px 60px 80px -14px rgba(0, 0, 0, 0.08);
  border-radius: 34px;
  padding: 30px;
}
.item_img {
  width: 289px;
  height: 162px;
}
.item_title {
  margin: 15px 0px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height, or 139% */
  letter-spacing: -0.01em;
  color: #000002;
}

.item_info_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product_add_to_cart_btn {
  width: 60px;
  height: 60px;
  background: #f0f0f0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 2rem;
  color: #223e3f;
}

.item_price {
  display: flex;
  gap: 20px;
}
.original_price {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height, or 139% */

  letter-spacing: -0.01em;

  color: #000000;

  opacity: 0.7;
}

.discount_price {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height, or 139% */

  letter-spacing: -0.01em;
  text-decoration-line: line-through;

  color: #ff4516;
}

@media screen and (max-width: 350px) {
  .item_img {
    width: 100%;
    flex-wrap: 1;
    flex-grow: 1;
  }
}
