.carousel_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.carousel_wrap {
  width: 100%;
  max-height: calc(100vh - 530px);
  scroll-behavior: smooth;
  overflow-y: hidden;
}
.slide {
  width: 130px;
  height: 130px;
  margin: 0 auto;
  transition: transform 0.5s ease-in-out;
}
.slide > div {
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

.slide > div > p {
  margin-top: 10px;
  width: 100%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 12px;
  text-align: center;

  color: #3f444b;
}
.slide > div > img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.mini_slider_controller {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #000002;
  border: none;
  cursor: pointer;
}
button.mini_slider_controller:first-child {
  margin-bottom: 20px;
}
button.mini_slider_controller:last-child {
  margin-top: 10px;
}
button.mini_slider_controller > img {
  width: 11px;
}


@media screen and (max-width: 768px) {
  
}
